body {
    background-color: black;
}

footer {
    background: rgb(28,71,125);
    background: linear-gradient(0deg, rgba(28,71,125,1) 0%, rgba(0,0,0,1) 90%);
    color: white;
}

.subtitulo-destacados {
color: aliceblue;
}

.imagenes-grillas {
    width: 100%;
    height: 100%;
}
