@charset "UTF-8";
::-webkit-scrollbar {
  width: 8px; }
  ::-webkit-scrollbar-track {
    background: #000000; }
  ::-webkit-scrollbar-thumb {
    background: #01c38cb9; }

.cuerpo {
  background: #4ac9c0;
  background: linear-gradient(0deg, #4ac9c0 0%, black 90%); }
  .cuerpo .subtitulo {
    text-align: center;
    background: transparent;
    text-transform: capitalize;
    font-family: 'Tai Heritage Pro', serif; }
  .cuerpo .Sologo {
    margin: 0;
    padding: 0%;
    background: transparent; }
  .cuerpo .carrusel {
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: center; }
    .cuerpo .carrusel .tamaño-imgs {
      width: 100%;
      height: 300px;
      object-fit: cover; }
