* {
    padding: 0%;
    margin: 0%;
}

::-webkit-scrollbar-track {
    background: #000000; }
::-webkit-scrollbar-thumb {
    background: #01c38cb9; }

.cuerpo {
    background: rgb(20, 29, 28);
    scroll-behavior: smooth;
    color: azure;
}

.cartas {
    color: black;
    max-width: 98%;
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titulo {

    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-InfoCartas {
    max-width: 100%;
    margin: 15px;
    height: 98%;

}

.img-carta {
    width: 100%;
    height: 400px;
}

.Borde-Cartas {
    margin-bottom: 25px;
}

.btn-cartas {
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(20, 29, 28);
    font-size: 23px;
    width: 100%;
    height: 55px;
    font-family: 'Times New Roman', Times, serif;
}
.ftr {
    background-color: rgb(27, 40, 37);
    border-radius: 10px;
    border-style: groove;
    border: #77c6fc;
    color: #f1f1f1;
}
.ftr .links-footer {
    list-style: none;
    margin-top: 20px;
    text-align: center;
}
.ftr .links-footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-style: unset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ftr .links-footer li i p {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-style: unset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
}
ul .list-ftr {
    text-decoration: none;
    color: #a7c1b1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400px;
    margin-top: 20px;
}

.list-ftr {
    text-decoration: none;
    color: #a7c1b1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400px;
    margin-top: 20px;
}

footer div h3 {
    text-align: center;
}

.logo-redes {
    width: 100%;
    display: flex;
}

.logo-redes a {
    padding-left: 1rem;
    text-decoration: none;
    color: #f1f1f1;
}
@media (max-width: 767.9px) {
    .img-carta {
        height: 250px;
    }
}