* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar-track {
    background: #000000; }
::-webkit-scrollbar-thumb {
    background: #01c38cb9; }

.cuerpo {
    background: rgb(20, 29, 28);
    scroll-behavior: smooth;
    color: azure;
}

.subform {
    display: flex;
    margin: 15px;
}

label {
display: flex;
}

h3 {
    display: flex;
    justify-content: center;
    text-size-adjust: 20px;
}

p{
    align-items: center;
    display: flex;
    justify-content: center;
}



li input {
    display: flex;
    margin-left: 20px;
}

.mapa {
    width: 100%;
    height: 300px;  
    margin: 1rem;
}

.img {
    width: 100%;
    height: 425px;
    margin: 1rem;
}

.ftr {
    background-color: rgb(27, 40, 37);
    border-radius: 10px;
    border-style: groove;
    border: #77c6fc;
    color: #f1f1f1;
}
.ftr .links-footer {
    list-style: none;
    margin-top: 20px;
    text-align: center;
}
.ftr .links-footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-style: unset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ftr .links-footer li i p {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-style: unset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
}

ul .list-ftr {
    text-decoration: none;
    color: #a7c1b1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400px;
    margin-top: 20px;
}

.list-ftr {
    text-decoration: none;
    color: #a7c1b1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400px;
    margin-top: 20px;
}

footer div h3 {
    text-align: center;
}

.logo-redes {
    width: 100%;
    display: flex;
}

.logo-redes a {
    padding-left: 1rem;
    text-decoration: none;
    color: #f1f1f1;
}
@media (max-width: 767.9px) {
    .img{
        height: 300px;
        display: flex;
        justify-content: center;
    }
}